
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: #383838;
}
.container{
    border-radius: 10px;
    display: inline-block;
    margin: 15px;
    padding: 10px 20px;
    background-color: rgb(24, 24, 24);
}
.container
input:focus{
    outline: none;
}
.container form > div{
    margin: 10px;
}
input{
    border-radius: 3px;
}
button{
    border-radius: 3px;
    border: none;
    color: #fff;
    padding: 5px 10px;
    background-color: #383838;
}
label{
    color: white;
}