
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: #383838;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    margin: 10px;
    width: 500px;
    background-color: rgb(24, 24, 24);
    padding: 10px 20px;
    border-radius: 5px;
}
.img-content{
    min-height: 440px;
}
.sinopse{
    min-height: 160px;
}
.card img{
    max-width: 256px;
    border-radius: 5px;
}
.img-content, .sinopse h3{
    text-align: center;
}
p{
    font-size: 12px;
}
p, 
h3,
h2,
li, 
img{
    margin: 10px 0;
    color: #fff;
}
ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
ul li{
    font-size: 12px;
    padding: 0 5px;
}